:root {
  --page-bg-color: rgb(244 244 245);
  --page-bg-gradient: linear-gradient(to bottom right, var(--page-bg-color), rgb(228 228 231));
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: rgb(39 39 42);
    --page-bg-gradient: linear-gradient(to bottom right, var(--page-bg-color), rgb(24 24 27));
  }
}

html {
  margin: 0;
}

body {
  background: var(--page-bg-color);
  background: var(--page-bg-gradient);
}
